body{
background-color:#e3e3e3;
color:#00063F;
margin:0;
width:374px;
}
.Hasarki{
background-color:#00063F;
font-size:px;
text-align:center;
color:#e3e3e3;
position:relative;
top:-25px;
}
ul li{
display:inline;
padding:5px;
position:relative;
top:-50px;
font-size:20px;
left:12px;
}
.hasarki2023{
text-align:center;
position:relative;
top:-60px;
}
.pictures{
position:relative;
left:15px;
width:355px;
}
.firstpic{
width:350px;
height:250px;
position:relative;
top:-60px;
}
.secondpic{
width:350px;
height:250px;
position:relative;
top:-30px;
}
.thirdpic{
width:350px;
height:250px;
position:relative;
}
.fourthpic{
width:350px;
height:250px;
position:relative;
top:30px;
}
.lastpic{
width:350px;
height:250px;
position:relative;
top:60px;
}
footer{
background-color:#00063F;
height:100px;
color:#e3e3e3;
position:relative;
top:150px;
}
.Copy {
font-size:15px;
text-align:center;
position:relative;
top:57px;
left:60px;
width:250px;
}
.Email{
font-size:15px;
text-align:center;
position:relative;
top:40px;
}