body{
background-color:#e3e3e3;
color:#151B54;
width:374px;
margin:0;
}
.Toppest{
background-color:#00063F;
height:30px;
position:relative;
top:-2px;
}
.HassanImg{
width:150px;
height:340px;
position:relative;
top:-40px;
}
.Hasarki{
background-color:#00063F;
font-size:px;
text-align:center;
color:#e3e3e3;
position:relative;
top:-25px;
}
ul li{
display:inline;
padding:5px;
position:relative;
top:-40px;
font-size:20px;
left:20px;
}
.LogoImg{
width:110px;
heigh:110px;
position:relative;
left:135px;
top:px;
}
.Top{
}
.Bio{
float:right;
position:relative;
top:-55px;
right:7px;
color:#00063F;
}
.mission{
position:relative;
left:10px;
width:350px;
}



footer{
background-color:#00063F;
height:100px;
color:#e3e3e3;
position:relative;
top:25px;
}
.Copy {
font-size:15px;
text-align:center;
position:relative;
top:57px;
left:60px;
width:250px;
}
.Email{
font-size:15px;
text-align:center;
position:relative;
top:40px;
}
, initial-scale=1.0